html, body {
    font-family: "Quattrocento Sans", sans-serif;
    margin: 0 auto;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

.img-bg img{
    filter: brightness(50%);
    width: 100%;
    height: 100%;
  }

  .buttons{
    display: flex;
    gap: 100px;
    position: relative;
    bottom: 977px;
    left: 630px;
    width: 700px;
  }

  .button-1{
    background-color: #0540F2;
    border: 1px solid white;
    border-radius: 30px;
    width: 290px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }

  .button-2{
    color: white;
    background-color: transparent;
    border-radius: 30px;
    width: 290px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    border: 1px solid white;
    cursor: pointer;
  }

  .button-1:hover{
    background-color: blue;
  }

  .button-2:hover{
    background-color: white;
    color: black;
  }


  .header-links{
    display: flex;
    color: white;
    gap: 20px;
    position: relative;
    top: 100px;
    left: 250px;
    z-index: 10;
    width: 1190px;
  }
  .header-links1{
    display: flex;
    color: white;
    gap: 20px;
    position: relative;
    z-index: 10;
    right: 170px;
  }

  .header-links2{
    display: flex;
    color: white;
    gap: 20px;
    position: relative;
    left: 860px;
    z-index: 10;
  }

  header{
    max-height: 1321px;
    margin-top: -74px;
  }

  .header-main{
    color: white;
    font-weight: bolder;
    position: relative;
    left: 365px;
    bottom: 7px;
    z-index: 10;
    font-size: larger;
  }

  .header-main h1{
    font-weight: bold;
  }

  .main-text{
    position: relative;
    color: white;
    bottom: 1037px;
    left: 20px;
    z-index: 10;
  }

  .main-text p{
    font-size: 160px;
    font-weight: bold;
    text-wrap: wrap;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sub-text h3{
    text-align: center;
    text-wrap: wrap;
    font-size: 25px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
  }
  .sub-text{
    z-index: 10;
    position: relative;
    bottom: 1037px;
    left:40px;
  }

  .container2{
    background-color: #EAEAEA;
    margin: 0 auto;
  }

  .readmore h1{
    color: #0540F2;
    font-weight: bold;
    text-align: left;
    text-wrap: balance;
    font-size: 400%;
    position: relative;
    left: 109px;
  }

  .readmore p{
    position: relative;
    Top: 80px;
    right: 310px;
    text-align: left;
    font-weight: bold;
  }

  .container2 p{
    font-size: larger;
    text-wrap: wrap;
  }

  .readmore{
    display: flex;
    gap: 95px;
    margin-top: 20px;
  }

  .castle-img img{
    border-radius: 5%;
    border: 1px transparent;
    position: relative;
    left: 113px;
  }
  .build-img img{
    border-radius: 5%;
    border: 1px transparent;
    position: relative;
    right: 14px;
    height: 50%;
    width: 100%;
  }
  .flex{
    display: flex;
    gap: 20px;
    z-index: 20;
  }

  .rectangle{
    width: 177px;
    height: 168px;
    z-index: 20;
    background-color: white;
    border-radius: 5%;
    position: relative;
    top: 150px;
    border: 1px transparent;
    font-size: large;
    left: 50px;
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle h3{
    margin-bottom: 0;
    margin-top: 0;
  }

  .rectangle span{
    color: blue;
  }

  .rectangle img{
    width: 114px;
    height: 55px;
    position: relative;
  }

  .flexc{
    flex-direction: column;
    position: relative;
    bottom: 170px;
    gap: 20px;
  }

  .rectangle2{
    width: 177px;
    height: 100px;
    z-index: 20;
    background-color: white;
    border-radius: 5%;
    position: relative;
    top: 150px;
    border: 1px transparent;
    font-size: large;
    left: 50px;
    text-align: center;
    margin-bottom: 55px;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle2 h3{
    margin-bottom: 0;
    margin-top: 0;
  }

  .rectangle2 span{
    color: blue;
  }

  .loremsection{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 448px;
    Bottom: 72px;
    padding-top: 50px;
  }

  .loremsection p{
    text-align: left;
    font-size: large;
    text-wrap: stable;
    font-weight: bold;
    margin-bottom: 0;
  }

  .loremsection button{
    margin-top: 10px;
  }

  .flexbox{
    display: flex;
    flex-wrap: wrap;
  }

  .section2 h1{
    color: #0540F2;
    font-weight: bold;
    text-wrap: wrap;
    text-align: center;
    font-size: 400%;
    margin: 0;
  }
  .section2 {
    margin-bottom: 70px;
  }

  .section2 p{
    text-align: center;
    text-wrap: wrap;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
  }

  .blueretangle{
    width: 397.31px;
    height: 182px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #0540F2;
    color: white;
    align-items: center; 
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    transition: scale 0.5s ease;
  }

  .blueretangle:hover{
    scale: 110%;
  }

  .blueretangle h2{
    margin: 0;
  }

  .blueretangle img {
    margin-right: 20px;
    margin-left: 25px;
  }

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
  .flexbox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .flex-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-right i{
    color:#0540F2;
    font-size: xx-large;
    margin-right: 20px;
    padding: 0;
  }

  .flex-right button{
    margin-top: 70px;
  }

  .content-wrapper {
    display: flex;
    align-items: start; 
    justify-content: space-around;
}

.flex2{
  display: flex;
  align-items: center;
}

.flex2 h3{
  font-weight: bolder;
}

.container3{
  background-color: #0540F2;
  width: 100%;
  height: 100%;
}

.section3 h1{
  color: white;
  font-weight: bold;
  text-wrap: wrap;
  text-align: center;
  font-size: 400%;
  margin: 0;
}

.mySlides{
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section3 {
  margin-bottom: 70px;
  margin-top: 40px;
  padding: 40px;
}

.section3 p{
  color: white;
  text-align: center;
  text-wrap: wrap;
  font-weight: bold;
  font-size: x-large;
  margin: 0;
}

.img-card{
  background-color: white;
  width: 397.42px;
  height: 622px;
  border: 1px ;
  border-radius: 5%;
  align-items: center;
  margin-bottom: 70px;
}

.img-card h3{
  color: #0540F2;
  font-weight: bold;
  padding: 10px;
}

.img-card button{
  margin-left: 30px;
}

.img-card p{
  font-weight: bold;
  padding: 10px;
}

.img-card img{
  width: 397.42px;
  height: 280px;
  margin-bottom: 30px;
}

.footer-container{
  background-color: #0540F2;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  align-items: flex-start; 
}

.footer-container h1{
  padding: 50px;
  font-weight: bold;
}

.footer-container p{
 margin: 0;
 padding-left: 50px;
}

.footer-flex h3 {
  margin-bottom: 10px; 
}

.footer-flex{
  display: flex;
  justify-content: inherit;
  margin-right: 20px;
  align-items: flex-start;
  padding: 80px; 
}

.links h3{
  margin-left: 47px;
}

.links {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  gap: 30px; 
  margin-right: 50px;
}

.readmore2 h1{
  color: #0540F2;
  font-weight: bold;
  text-align: left;
  text-wrap: balance;
  font-size: 400%;
  position: relative;
  left: 109px;
}

.readmore2 p{
  position: relative;
  text-align: left;
  font-weight: bold;
}

.readmore2{
  display: flex;
  gap: 95px;
  margin-top: 20px;
}

.readmorebutton{
  position: relative;
  bottom: 91px;
  left: 1559px;
}

.footer-text{
  position: relative;
  top: 150px;
  right: 345px;
}

.text-slide {
  position: absolute;
  top: 200px;
  font-size: large;
  font-weight: bold;
  color: white;
}